/* Standardstile für mobile Geräte */
.navbar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  background-color: white;
  font-weight: bold !important;
}

.logo {
  padding: 2rem 1rem 0 1rem; /* Einheitliche Polsterung */
}

.menuButton {
  padding: 2rem 1rem 0 0; /* Einheitliche Polsterung */
  cursor: pointer;
  font-size: 1.5rem;
  user-select: none;
  -webkit-user-select: none; /* Safari-Unterstützung */
  font-weight: bold; /* Schrift fett machen */
}

.logo a {
  text-decoration: none;
  color: black;
  font-size: 1.5rem;
  font-weight: bold; /* Schrift fett machen */
}

.logo a:hover {
  text-decoration: underline; /* Unterstreicht den Link beim Hover */
}

.menuButton:hover {
  text-decoration: underline; /* Unterstreicht den Button beim Hover */
}

.nav {
  position: fixed;
  top: 4rem; /* Platz für die fixe Navbar */
  right: -100%; /* Start außerhalb des Bildschirms */
  width: 100%;
  height: calc(100% - 4.2rem); /* Höhe abzüglich der Navbar */
  background-color: white; /* Hintergrundfarbe für das Dropdown-Menü */
  transition: transform 0.3s ease-in-out;
  z-index: 999;
}

.nav.open {
  transform: translateX(-100%); /* Verschiebe das Menü herein */
}

.navList {
  list-style: none; /* Entferne die Punkte vor den <li>-Elementen */
  padding: 0;
  margin: 0;
  font-weight: bold !important;
}

.navList a {
  display: block;
  padding: 1rem;
  text-decoration: none;
  color: black;
  font-weight: bold; /* Schrift fett machen */
}

.navList a:hover {
  text-decoration: underline; /* Unterstreicht den Link beim Hover */
}

.link {
  display: block;
  padding: 1rem;
  text-decoration: none;
  color: black;
  font-weight: bold; /* Schrift fett machen */
}

.link:hover {
  background-color: #f0f0f0;
}

.footerList {
  list-style: none;
  padding: 0;
  margin: 0;
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
  position: absolute;
  right: 1rem;
  bottom: 1rem;
  font-weight: bold; /* Schrift fett machen */
}

.footerOpen {
  opacity: 1;
  transform: translateY(0);
}

.footerItem {
  margin: 0;
}

/* Für Desktop-Version */
@media (min-width: 600px) {
  .nav {
    right: -20rem; /* Start außerhalb des Bildschirms */
    width: 20rem; /* Fixe Breite für das Dropdown-Menü */
  }

  .nav.open {
    transform: translateX(-20rem); /* Verschiebe das Menü herein */
  }
}

@media (min-width: 900px) {
  .logo,
  .menuButton {
    padding: 2rem 3rem 0 3rem;
  }
}

@media (min-width: 1200px) {
  .logo,
  .menuButton {
    padding: 2rem 4rem 0 4rem;
  }
}
